<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Main</title>
</head>
 
<body>

<div class="d-flex justify-content-center">
    <h2>List of products</h2></td>
    <form action="/add" method="get">
        <button type="submit" class="btn btn-success mx-4">Add</button>
    <a class="btn btn-primary" href="/">LogIn</a>
    </form>
</div>
    <table class="table">
        <tr>
            <#list foods as food>
        
        <form action="/edit" method="post">
            <td><input style="border: none;" type="hidden" name="id" value="${food.id?string.computer}"/> </td>
            <td><input style="border: none;" type="text" name="name" value="${food.name}"/> </td>
            <td><input style="border: none;" type="text" name="comment" value="${food.comment}"/> </td>
            <td><input style="border: none;" type="text" pattern="\d*" name="price" value="${food.price?string.computer}"/> </td>
            <td><input style="border: none;" type="text" name="date" value="${food.date?datetime.iso?string('dd-MM-yyyy')}"/> </td>
    		<td><button type="submit" class="btn btn-outline-success float-sm-right">Save</button></td> 
    	</form>

    		<td>
    	        <form action="/remove?id=${food.id?string.computer}" method="post">
    		      <button type="submit" class="btn btn-outline-danger float-sm-center">Remove</button>
    		    </form>
                <td> </td> 
    		</td> 

            <#if isAuth??>

            </#if>
        </tr>
        </#list>
    </table>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>