<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Main</title>
</head>
 
<body>



<#if isAuth??>

        <#else>

    <table class="table">
 
        <tr>
            <#list>
            <td><h2 class="d-flex justify-content-right">List of products</h2></td>
            <td> </td>
            <td> </td>

		<td>
        	<form action="/" method="get">

		    </form>
		</td> 
		<td>
		    <form action="/add" method="post">
        		<button type="submit" class="btn btn-outline-success float-sm-center">Add</button>
      			<a class="btn btn-outline-danger" href="/">Out</a>
      			<div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
	        </form>
		</td> 
        </tr>
                <#if isAuth??>

            </#if>

        </#list>
    </table>

</div>

    </#if>

    <table class="table">
 
        <tr>
            <#list foods as food>
            <td>${food.name}</td>
            <td>${food.comment}</td>
            <td>${food.price}</td>
 
		<td>
		    <form action="/edit" method="get/${food.id}">
			    <button type="submit" class="btn btn-outline-secondary float-sm-right">Edit</button>
		    </form>
		</td> 
		<td>
	        <form action="/remove" method="get">
		        <button type="submit" class="btn btn-outline-info float-sm-center" value =${food.id}>Del</button>
		    </form>
		</td> 


                <#if isAuth??>

            </#if>
        </tr>
        </#list>
    </table>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>